# Django configuration settings
SECRET_KEY=django-insecure-some-very-secret-key-for-social-network
DEBUG=True

# Database settings
POSTGRES_DB=social_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis & Celery broker settings
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Background clean up tasks properties
UNVERIFIED_USER_CLEANUP_HOURS=24
POST_TTL_DAYS=30
